/* Basic styling to begin with. */
* {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #94618e;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Navigation bar with links to all pages.*/
.navigation {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    align-items: center;
}

.navigation > a {
    text-decoration: none;
}

/* The recording button, any other things that will be added to the page. */
.content {
    height: 80vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The other information, footer of the page. */
.footer {
    height: 5vh;
    padding: 1rem;
    display: flex;
    align-items: center;
}

/* Currently only affects the recording button. */
#record {
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
    background-color: #49274a;
    border: 1vw solid white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 75px;
    transition: all 0.05s ease-in-out;
}

button:active {
    transform: scale(0.95);
}

/* Button currently not active; not recording currently. */
.notRec {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button currently active; currently recording. */
.rec {
	animation-name: pulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

.visualizer-left, .visualizer-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5vw;
    z-index: 1;
}

.listener {
    width: 1vw;
    height: 1vw;
    margin: 0.5vw;
    border-radius: 1vw;
    background-color: white;
}

/* Animation for recording. */
@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(122, 73, 136, .3);
	}
	65%{
		box-shadow: 0px 0px 5px 50px rgba(122, 73, 136, .3);
	}
	90%{
		box-shadow: 0px 0px 5px 65px rgba(122, 73, 136, 0);
	}
}

/* The description, in the description page. */ 
.description {
    height: 80vh;
    padding: 3rem;
}

.description-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tech {
    width: 50vw;
    height: 300px;
}

.icons {
    display: flex;
    justify-content: center;
}

.image {
    transition: all 0.5s ease;
}

.image[data-status="inactive"] {
    width: 0;
    height: 0;
    opacity: 0;
    transition: none;
}

.image[data-status="active"] {
    opacity: 1;
    width: 300px;
    height: 300px;
    transform: translateX(0);
}

.image[data-status="before"] {
    width: 0;
    height: 0;
    opacity: 0;
    transform: translate(30%, 0px);
}

.image[data-status="after"] {
    width: 0;
    height: 0;
    opacity: 0;
    transform: translate(-30%, 0px);
}

main > article[data-status="becoming-active-from-before"] {
    opacity: 0;
    transform: translate(-30%, 0px);
    transition: none;
  }
  
  main > article[data-status="becoming-active-from-after"] {
    opacity: 0;
    transform: translate(30%, 0px);
    transition: none;
  }

.icon-nav {
    display: flex;
    justify-content: center;
}

.icon-nav > button {
    height: 6rem;
    width: 6rem;
    margin: 1rem;
}